.title {
    position: relative;
    margin-top: 0;
    margin-bottom: 35px;
}

.error {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 12px;
    color: #f10000;
    margin-top: 10px;
    margin-bottom: 0;
    white-space: nowrap;
}

.table {
    font-weight: bold;
    text-align: center;
    border-collapse: collapse;
}

.cell {
    font-size: 26px;
    font-weight: bold;
    padding: 15px 20px;
    border: 1px solid #000;
    transition: background-coloe 150ms ease-in-out;
}

.cell:active {
    background-color: #ccc;
}
